<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <%- include('../partials/header'); %>
  </head>
  <div  class="card">
    <h1><%= name%></h1>
    <a href="/logout">Se déconnecter</a>
    <h2 id="title">Ville</h2>
    <a href="./generateJson">générer les données</a>

  </div>
  <div class="home">
    <div class="redirect_link">
      <a href="./categories">Catégories</a>
      <a href="./numeros">Numéros utiles</a>
      <a href="./carte">Carte</a>
      <a href="./langues">Langues</a>
      </div>
    <div id="mapid"></div>
   
  </div>
  <script>
    // stringify the data passed from router to ejs (within the EJS template only)
    var parsed_data = <%- JSON.stringify(places) %>
    </script>
  <footer><%- include('../partials/footerJs'); %></footer>
</html>
