<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <%- include('./../partials/header'); %>
  </head>
  <div class="head">
  <h1 class="title">GUS</h1>
  </div>
  <% if (messages.error) {%> <%= messages.error %> <% } %>
  <div class="back_form">
    <form action="/login" method="POST">
        <div class="form">
            <div class="form_input">
            <label class="title_input" for="email">Adresse Email</label>
            <input class="input" type="email" id="email" name="email" required />
            </div>
            <div class="form_input">
            <label class="title_input" for="password">Mot de passe</label>
            <input class="input" type="password" id="password" name="password" required />
            </div>
            <button class="all_button" type="submit">Connexion</button>
        </div>
    </form>
  </div>
  <a href="/register">S'inscrire</a>
  <%- include('./../partials/footer'); %>

</html>
