<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../partials/header'); %>
    </head>
<h1>S'inscrire</h1>
<form action='/register' method="POST">
    <div>
        <label for="name">Nom</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">S'inscrire</button>
</form>
<a href="/login">Se connecter</a>
<%- include('../partials/footer'); %>


