<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>
    <a href="/carte"><button class="all_button">Retourner à la carte</button></a>

      </div>
    <form action="/carte/create" class="add_places" method="POST">
        <label class="textInput">Catégory<input type="text" class="input" name="category" id="category" ></label>
        <label class="textInput">Nom<input type="text" class="input" name="name" id="name" ></label>
        <label class="textInput">Adress<input type="text" class="input" name="adress" id="adress" ></label>
        <label class="textInput">Phone<input type="text" class="input" name="phone" id="phone" ></label>
        <label class="textInput">Email<input type="text" class="input" name="email" id="email"></label>
        <label class="textInput">Timetable<input type="text" class="input" name="timetable" id="timetable"></label>
        <label class="textInput">Description<input type="text" class="input" name="description" id="description"></label>
        <label class="textInput">Weblink<input type="text" class="input" name="weblink" id="weblink"></label>
        <label class="textInput">Latitude<input type="text" class="input" name="latitude" id="latitude"></label>
        <label class="textInput">Longitude<input type="text" class="input" name="longitude" id="longitude""></label>
        <div class="category_div_button"><button class="category_button" type="submit">Envoyer</button></div>

    </form>
<%- include('../../partials/footer'); %>

