<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <div id="mapid"></div>
  <a href="/"><button class="back_home" type="button">Retour à l'accueil</button></a>
  <a href="/carte/create"><button class="back_home" type="button">Crée un lieu</button></a>
  <div id="text"></div>

  
  <script>
    // stringify the data passed from router to ejs (within the EJS template only)
    var parsed_data = <%- JSON.stringify(places) %>
    </script>
  
  <footer><%- include('../../partials/footerJs'); %></footer>
</html>