<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
<h1>Le lieu à bien étais supprimer</h1>
<a href="/carte"><button>Retourner à la carte</button></a>
<%- include('../../partials/footer'); %>

