<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
<h1>hello</h1>

<div class="modal">
    <form action="/carte/create" method="POST">
        <label class="textInput">Nom<input type="text" class="input" name="name" id="name" value="<%= data.Name %>"></label>
        <label class="textInput">Catégory<input type="text" class="input" name="category" id="category" value="<%= data.Category %>"></label>
        <label class="textInput">Adress<input type="text" class="input" name="adress" id="adress" value="<%= data.Adress %>"></label>
        <label class="textInput">Phone<input type="text" class="input" name="phone" id="phone" value="<%= data.Phone %>"></label>
        <label class="textInput">Email<input type="text" class="input" name="email" id="email" value="<%= data.Email %>"></label>
        <label class="textInput">Timetable<input type="text" class="input" name="timetable" id="timetable" value="<%= data.Timetable %>"></label>
        <label class="textInput">Description<input type="text" class="input" name="description" id="description" value="<%= data.Description %>"></label>
        <label class="textInput">Weblink<input type="text" class="input" name="weblink" id="weblink" value="<%= data.Weblink %>"></label>
        <label class="textInput">Latitude<input type="text" class="input" name="latitude" id="latitude" value="<%= data.Latitude %>"></label>
        <label class="textInput">Longitude<input type="text" class="input" name="longitude" id="longitude" value="<%= data.Longitude %>"></label>
        <button type="submit">Envoyer</button>
    </form>
    <a href="/carte"><button>Retourner à la carte</button></a>
</div>
<%- include('../../partials/footer'); %>

