* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #BFBEC5;
}
.head{
    background-color: #D8D5DB;
    height: 150px;
    width: auto;
    text-align: center;
}
.title {
    padding-top: 50px;
}
.back_form {
    display: flex;
    justify-content: center;
    background-color: #BFBEC5;
    height: 500px;
    width: auto;
}
.form {
    background-color: #ADACB5;
    height: 300px;
    width: 550px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    font-size: 1.5em;
}
.form_input {
    display: flex;
    flex-direction: column;
}
.input {
    border-radius: 25px;
    border: 1px solid white;
    background-color: #FFF;
    height: 35px;
    width: 450px;
    font-size: 1.1em;
    padding-left: 5%;
    
}

.all_button {
    font-size: 1.2em;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #FFF;
    height: 30px;
    width: 175px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 10px;
}
.delete {
    margin-bottom: 50px
}
.div_text {
    margin-top: 15px;
    border: 1px solid black;
    width: 50%;
    border-radius: 25px;
    margin-bottom: 15px;
}
.div_text > h2 {
    margin-top: 20px;
    margin-left: 20px;
}
.div_text > p {
    margin-left: 20px;
}
.back_home {
    font-size: 1.2em;
    border-radius: 25px;
    border: 1px solid white;
    background-color: #FFF;
    height: 45px;
    width: 175px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-top: 10px;
}
.text {
    font-size: 1.3em;
    margin-bottom: 10px;
}
.text_flex {
    display: flex;
}
.title_numeros {
    width: 600px;
    margin-left: 20px;
}
.title_langues {
    width: 150px;
    margin-left: 20px;
}
.title_words {
    width: 350px;
}
.role {
    width: 200px;
}
.text_langues {
    height: 338px;
}
.number {
    margin-left: 30px;
    width: 100px;
}
.img {
    height: 25px;
    width: 25px;
    margin-left: 20px;
}
.words_text {
    margin-left: 20px;
}
#text {
    margin-left:35px;
    font-size: 1.1em;
}
.map_button {
    margin-top: 35px;
    margin-bottom: 30px;
}
.title_input {
    margin-top: 35px;
}
.card{
    height: 150px;
    width: auto;
    background-color: #D8D5DB;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    text-align: end;
}
.home {
    display: flex;
    flex-direction: row;
}
#title {
    text-align: center;
}
#mapid {
    width: 100%;
}
.redirect_link {
    background-color: #BFBEC5;
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    padding-left: 30px;
    font-size: 1.2em;
}
.redirect_link > a {
    color: black;
    text-decoration: none;
}
.redirect_link > a:hover {
    color:blue
}
.cardTitle {
    width: 200px;
}
.button {
    margin-left: 10px;
}
.textInput {
    margin-left: 10px;
    width: 1px;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 10px;
}
#mapid { height: 551px; }
.category {
    display: flex;
    flex-direction: row;
    background-color: #BFBEC5;
    text-decoration: none;
    padding-top: 10px;
}
.container_category {
    height: 377px;
}
.add_category {
    height: 475px;
    display: flex;
    flex-direction: column;
    background-color: #BFBEC5;
    text-decoration: none;
    padding-top: 10px;
}
.category_a {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 1.2em;
    width: 150px;
}
.category_a:hover {
    color: blue
}
.category_div_button {
    padding-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
}
.category_button {
    height: 30px;
    width: 275px;
    border-radius: 25px;
    border: 1px solid white;
    font-size: 1.2em;
}
.title_category {
    background-color: #BFBEC5;
    text-align: center;
    padding-top: 10px;
    font-size: 2.8em;
    margin-bottom: 35px;
}
.text_category {
    background-color: #BFBEC5;
    text-align: start;
    padding-left: 10px;
    font-size: 1.4em;
    margin-bottom: 20px;
}
.text_input {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
}
.footer {
    height: 50px;
    width: 100%;
    background-color: #2D3142;
    color: #FFF;
    text-align: center;
    bottom: 0;
    padding-top: 50px;
}
.add_numeros {
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #BFBEC5;
    text-decoration: none;
    padding-top: 10px;
}
.add_places {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #BFBEC5;
    text-decoration: none;
    padding-top: 10px;
}