<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>

      </div>
      <h2 class="title_category">Ajouter une langue</h2>
    <a href="/langues"><button class="back_home">Retourner à la liste des langues</button></a>

        <form class="add_category" action="/langues/create" method="POST">
            <label class="textInput">Nom<input type="text" class="input" name="name" id="name" ></label>
            <label class="textInput">Initial<input type="text" class="input" name="initial" id="initial" ></label>
            <div class="category_div_button"><button class="category_button" type="submit">Envoyer</button></div>
        </form>
    <%- include('../../partials/footer'); %>


