<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
<h1>Le language à bien étais supprimer</h1>
<a href="/categories"><button class="back_home">Retourner à la liste des catégories</button></a>
<footer><%- include('../../partials/footerJs'); %></footer>
