<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>
    </div>
    <div>
        <h2 class="title_category">Langues</h2>
        <p class="text_category">Ici vous pouvez gérer les langues en ajouter en bas de pages ou les modifier et les supprimer</p>
    </div>
    <div class="text_langues">
<% Langues.map((element) => { %>
    <div class="text text_flex">
        <% switch (element.Initial) {  case "Fr" : %>
            <a class="category_a" href="/words#Fr">-<%= element.Name%></a>
            <% break; case "Es" : %>
            <a class="category_a" href="/words#Es">-<%= element.Name%></a>
            <% break; case "En" : %>
            <a class="category_a" href="/words#En">-<%= element.Name%></a>
            <% break; case "Kr" : %>
            <a class="category_a" href="/words#Kr">-<%= element.Name%></a>
            <% break; default : %>
            <p>-<%= element.Name%></p>
            <% break; } %>
        <img src="http://localhost:1337<%= element.Image.url %>"></img>
        <a href="/updateLangues/<%= element.Id %>"><img class="img" type="button" id="modifier" src="/crayon.svg"></img></a>
    </div>
<% }) %>
    </div>
<div>
    <a href="/langues/create"><button class="back_home">Ajouter un languages</button></a>
</div>
<%- include('../../partials/footer'); %>

