<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>

      </div>
      <h2 class="title_category">Modifier un language</h2>
    <a href="/words"><button class="back_home">Retourner à la liste des mots</button></a>

        <form class="add_category" action="/words/create" method="POST">
            <label class="textInput">Nom<input type="text" class="input" name="name" id="name" value="<%= data.Name%>"></label>
            <label class="textInput">Role<input type="text" class="input" name="role" id="role" value="<%= data.Role%>"></label>
            <label class="textInput">Language<input type="text" class="input" name="language" id="language" value="<%= data.Language%>"></label>
            <div class="category_div_button"><button class="category_button" type="submit">Envoyer</button></div>
        </form>
    <%- include('../../partials/footer'); %>


