<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
  </head>
  <div class="card">
    <h1><%= name%></h1>
    <a href="/logout">Se déconnecter</a>
    <h2 id="title">Ville</h2>
    <a href="/"><button class="back_home">Retourner a l'accueil</button></a>
  </div>
  <div>
    <h2 class="title_category">Mots</h2>
    <p class="text_category">
      Ici vous pouvez gérer les mots les modifier et les supprimer
    </p>
  </div>

  <div id="text_words"></div>

  <div>
    <a href="/numeros/create"><button class="back_home">Ajouter un mot</button></a>
  </div>

  <script>
    // stringify the data passed from router to ejs (within the EJS template only)
    var words_data = <%- JSON.stringify(Words) %>

  </script>
<script type="module" src="/words.js"></script>

  <footer><%- include('../../partials/footer'); %></footer>
</html>
