<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>

      </div>
      <h2 class="title_category">Ajouter une catégorie</h2>
    <a href="/categories"><button class="back_home">Retourner à la liste des catégories</button></a>

        <form class="add_category" action="/categories/create" method="POST">
            <label class="textInput">Nom<input type="text" class="input" name="name" id="name" ></label>
            <label class="textInput">MarkerColor<input type="text" class="input" name="markerColor" id="markerColor" ></label>
            <label class="textInput">Alt<input type="text" class="input" name="alt" id="alt" ></label>
            <p class="text_input">Veuillez vous rendre sur https://www.svgrepo.com/ récupérer l'url de l'icône de votre choix et insérer la dans la case ci-dessous</p>
            <label class="textInput">Icon<input type="text" class="input" name="icon" id="icon""></label>
            <div class="category_div_button"><button class="category_button" type="submit">Envoyer</button></div>
        </form>
    <%- include('../../partials/footer'); %>


