<!DOCTYPE html>
<html lang="fr" class="h-100">
  <head>
    <%- include('../../partials/header'); %>
  </head>
  <div class="card">
    <h1><%= name%></h1>
    <a href="/logout">Se déconnecter</a>
    <h2 id="title">Ville</h2>
    <a href="/"><button class="back_home">Retourner a l'accueil</button></a>
  </div>
  <h2 class="title_category">Catégories</h2>
  <p class="text_category">
    Cliquez sur une catégories ci-dessous pour la modifier ou la supprimer
  </p>
  <div class="container_category">
  <% categories.map((element)=> { %>
  <div class="category">

    <% switch (element.Id) {  case 1 : %>
    <a class="category_a" href="/numeros">-<%= element.Name%></a>
    <% break; case 2 : %>
    <a class="category_a" href="/carte#Accueilli">-<%= element.Name%></a>
    <% break; case 3 : %>
    <a class="category_a" href="/carte">-<%= element.Name%></a>
    <% break; case 4 : %>
    <a class="category_a" href="/carte#Domicilié">-<%= element.Name%></a>
    <% break; case 5 : %>
    <a class="category_a" href="/carte#Soigner">-<%= element.Name%></a>
    <% break; case 6 : %>
    <a class="category_a" href="/carte#Laver">-<%= element.Name%></a>
    <% break; case 7 : %>
    <a class="category_a" href="/carte#Nourrir">-<%= element.Name%></a>
    <% break; case 8 : %>
    <a class="category_a" href="/carte#Habiller">-<%= element.Name%></a>
    <% break; case 9 : %>
    <a class="category_a" href="/carte#hebergement">-<%= element.Name%></a>
    <% break; default : %>
    <p>-<%= element.Name%></p>
    <% break; } %>
    <a href="/updateCategories/<%= element.Id %>"><img class="img" type="button" id="modifier" src="/crayon.svg"></img></a>
    <a href="/categories/delete/<%= element.Id %>"><img class="img" type="button" id="supprimer" src="/croix.svg"></img></a>
</div>
  
  <% }) %>
  </div>
  <div class="category category_div_button">
    <a href="/categories/create"
      ><button class="category_button">Ajouter une catégories</button></a
    >
  </div>
  <footer><%- include('../../partials/footerJs'); %></footer>

</html>
