<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>

      </div>
      <h2 class="title_category">Ajouter un numéro utile</h2>
    <a href="/numeros"><button class="all_button">Retourner à la liste des numéros utiles</button></a>


    <form class="add_numeros" action="/numeros/create" method="POST">
        <label class="textInput">Nom<input type="text" class="input" name="name" id="name" ></label>
        <label class="textInput">Phone<input type="text" class="input" name="phone" id="phone" ></label>
        <label class="textInput">Alt<input type="text" class="input" name="alt" id="alt" ></label>
        <label class="textInput">Logo<input type="text" class="input" name="logo" id="logo"></label>
        <label class="textInput">Sector<input type="number" class="input" name="sector" id="sector"></label>
        <div class="category_div_button"><button class="category_button" type="submit">Envoyer</button></div>
    </form>

<%- include('../../partials/footer'); %>