<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
<h1>Le numéro utile à bien étais supprimer</h1>
<a href="/numeros"><button class="back_home">Retourner à la liste des numéros utile</button></a>
<%- include('../../partials/footer'); %>
