<!DOCTYPE html>
<html lang="fr" class="h-100">

    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>
    </div>
    <div>
        <h2 class="title_category">Numéros utiles</h2>
        <p class="text_category">Ici vous pouvez gérer les numéros utiles en ajouter en bas de pages ou les modifier et les supprimer</p>
    </div>

<% numeros.map((element) => { %>
    <div class="text text_flex">
        <p class="title_numeros">-<%=element.Name%></p>
        <a class="number" href="tel:<%=element.Phone%>"><%=element.Phone%></a>
        <a href="/updateNumeros/<%= element.Id %>"><img class="img" type="button" id="modifier" src="/crayon.svg"></img></a>
        <a href="/numeros/delete/<%= element.Id %>"><img class="img" type="button" id="supprimer" src="/croix.svg"></img></a>
    </div>
<% }) %>
<div>
    <a href="/numeros/create"><button>Ajouter une numéros utile</button></a>
</div>
<%- include('../../partials/footer'); %>

