
    <head>
        <%- include('../../partials/header'); %>
    </head>
    <div class="card">
        <h1><%= name%></h1>
        <a href="/logout">Se déconnecter</a>
        <h2 id="title">Ville</h2>
        <a href="/"><button class="back_home">Retourner a l'accueil</button></a>
    <a href="/numeros"><button class="all_button">Retourner à la liste des numéros utiles</button></a>

      </div>
      <h2 class="title_category">Modifier un numéro utile</h2>

    <form class="add_numeros" action="/numeros/create" method="POST">
        <label class="textInput">Nom<input type="text" class="input" name="name" id="name" value="<%=data.Name%>"></label>
        <label class="textInput">Phone<input type="text" class="input" name="phone" id="phone" value="<%=data.Phone%>"></label>
        <label class="textInput">Alt<input type="text" class="input" name="alt" id="alt" value="<%=data.Alt%>"></label>
        <label class="textInput">Logo<input type="text" class="input" name="logo" id="logo" value="<%=data.Logo%>"></label>
        <div class="category_div_button"><button class="category_button" type="submit">Envoyer</button></div>
    </form>

<%- include('../../partials/footer'); %>
